<aside>
  <div id="sidebar" class="nav-collapse">
    <div class="leftside-navigation">
      <ul class="sidebar-menu" id="nav-accordion">
        <div>
          <li>
            <a id="navDashboard" href="/">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
            </a>
          </li>
          <!-- <li>
            <a id="navUserRecordsAdd" href="/records/node">
            <i class="fa fa-list"></i>
            <span>Nodes</span>
            </a>
          </li> -->
        </div>
      </ul>
    </div>
  </div>
</aside>
